<!-- Modal -->
<div class="modal fade" id="batch-delete-modal" tabindex="-1" aria-labelledby="batch-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="batch-delete-modal-label">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro que desea eliminar registros?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-danger" id="batch-delete" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>