@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">DC3 Safe</h1>

<p>
    Los <b>Agentes Capacitadores Externos o Internos</b> (ACE / ACI) son los únicos que
    cuentan con la facultad de emitir y utilizar el Formato DC-3: Constancia de
    competencias o de habilidades laborales.
</p>
<p>
    El cual es proporcionado por la <b>Secretaria del Trabajo y Previsión Social</b>
    (STPS) en su portar virtual.
</p>
<p>
    Este formato hace constar que un trabajador ha tomado un curso, ha sido
    capacitado y ha aprobado el curso de manera efectiva, el cual es emitido por
    una institución, organismo o personal física con actividad empresarial y
    firmado por el representante de los trabajadores.
</p>
<p>
    Además este documento hace constar que sus colaboradores cumplen con el
    programa de capacitación y reciben capacitación continua para desempeñar sus
    funciones, labores y actividades.
</p>
<p>
    Este formato al igual que los anteriores no son entregados a la STPS, sin
    embargo, es deben de contar con al menos una copia física o virtual para
    mostrarla a las autoridades cuando así lo soliciten.
</p>
<p>
    Cabe señalar que su validez puede ser consultada en el directorio de la STPS
    te enseñamos como en "Verificación ante la STPS". El Agente Capacitador
    Interno o Externo debe de tener previamente registrado en su catalogo de
    cursos ante la STPS para poder emitir una constancia.
</p>
<p>
    Por su parte la <b>Secretaria del Trabajo y Previsión Social</b> aclara que "la
    calidad de los servicios será responsabilidad de los agentes capacitadores
    externos. En ningún caso, la Secretaría otorgará valor curricular o académico
    a los programas o cursos de capacitación o reconocerá los planes y programas
    de estudio promovidos y ejecutados por los agentes capacitadores, cuya
    aprobación sea competencia de las autoridades en materia de educación."
</p>
<p>
    Por último, deberá entregarse a los trabajadores dentro de los veinte días
    hábiles siguientes al término de cada curso de capacitación que se lleve a
    cabo en la empresa./p>
</p>
<p>
    En el caso de cursos a distancia, será suficiente anotar el nombre del
    instructor, institución, escuela u organismo que haya prestado el servicio de
    capacitación.
</p>

